/** 共通定義 **/

/* reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}


html,body {
  font-size: 16px;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
  color: $textBlack;
}

img {
  vertical-align: bottom;
}

button {
  cursor: pointer;
  outline: none;
}
button:hover {
  opacity: 0.9;
}

select,
[type="checkbox"],
[type="redio"] {
  cursor: pointer;
}


/* header */
header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: $lightGray;
  box-sizing: border-box;
  .headerLeft {
    max-width: calc( 100% - 450px );
    padding: 10px 0;
    @media screen and ( max-width : 770px ) {
        width: 320px;
        max-width: none;
    }
    @media screen and ( max-width : 700px ) {
      margin: 0 auto;
    }
    h1 {
      padding-left: calc( 10% + 30px );
      //background: url("/img/header/icon.png") no-repeat 24px center;
      background-size: auto 100%;
      cursor: pointer;
      @media screen and ( max-width : 700px ) {
        padding-left: calc( 10% + 18px );
        padding-right: 12px;
        background-position: 12px center;
      }
      > * {
        display: flex;
        max-width: 100%;
        align-items: center;
        > img {
          max-width: 100%;
        }
      }
    }
  }
}

.headerRight {
  display: flex;
  align-items: center;
  padding-right: 20px;
  button {
    display: block;
    width: 180px;
    margin: 0 20px 0 0;
    padding: 5px 0;
    border: $textBlack solid 1px;
    text-align: center;
    background: $white;
    color: $textBlack;
    text-decoration: none;
    font-size: 1rem;
  }
  a:hover {
    opacity: 0.9;
  }
}


.headerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px 0 23px;
  box-sizing: border-box;
  background: $white;
  border-bottom: $textBlack solid 1px;
  @media screen and ( max-width : 640px ) {
    padding: 0 10px 0 10px;
  }

  button,a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: $textBlack;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    font-size: 1rem;
  }
}

/* ===== COLOR ===== */
.bgWhite {
  background-color: $white;
  color: $textBlack;
}
.bgBlue {
  background-color: $blue;
  color: $white;
}

.fcBlue {
  color: $blue;
}
/* ===== /COLOR ===== */


/* ===== OVERLAY ===== */
#app {

}

.div-section {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
  padding: 30px;
  margin-bottom: 30px;
}

.icons:hover {
  cursor: pointer;
}
