/** ログイン **/

#login {
  
  .login_form {
    height: 100vh;
    background: $lightGray;
    color: $white;
    h1 {
      margin-bottom: 10px;
      text-align: center;
      font-size: 2rem;
    }
    > label {
      display: block;
      margin:  0 0 25px calc( 50% - 150px );
      font-size: 1.25rem;
      input,
      select {
        display: block;
        font-size: 20px;
        width: 300px;
        box-sizing: border-box;
        line-height: 1;
        padding: 10px 10px;
        border: none;
        & + label {
          display: block;
          margin-top: 5px;
        }
        &[readonly],
        &:disabled {
          opacity: 1;
          background: $white;
          color: $textBlack;
          cursor: default;
        }
      }
    }

    button {
      display: block;
      width: 90%;
      margin: 30px auto 0;
      padding: 10px 0 10px 0;
      border: none;
      #background: #ffffff url("/img/icon_btn_arrow.png") no-repeat right 10px center;
      color: #005AAB;
      font-size: 1.25rem;
      text-align: center;
      &[disabled] {
        color: $lightGray;
        font-weight: normal;
        background: $white;
        border: $blue solid 1px;
        cursor: default;
        opacity: 0.5;
      }
    }
    .message.is-warning {
      position: absolute;
      left: 0px;
      top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;
      ul {
        padding: 10px 20px;
        background: $white;
        color: #ff0000;
      }
    }
  }
  /* ===== /RIGHT ===== */

  .modal-btn {
    margin-top: 15px;
    button {
      display: block;
      width: 180px;
      margin: 0px 20px 0 0;
      padding: 5px 0;
      border: $textBlack solid 1px;
      text-align: center;
      background: $white;
      color: $textBlack;
      text-decoration: none;
      font-size: 1rem;
    }
  }
}
