/** ログイン **/

#login {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  padding: 0 0 0px;

  > .login_form,
  > .login_info {
    width: 100%;
    box-sizing: border-box;
  }

  /* ===== LEFT ===== */
  .login_info_p01 {
    padding: 30px 20px;
    text-align: center;
    p {
      display: inline-block;
      text-align: left;
      font-size: 1.25rem;
      line-height: 1.8;
    }
  }

  .login_info_fig01 {
    text-align: center;
    > div {
      position: relative;
      display: inline-block;
      text-align: center;
    }
    img {
      max-width: 100%;
    }
    p {
      position: absolute;
      right: 5.1%;
      font-size: 18px;
      color: #e20000;
      text-align: center;
      @media screen and ( max-width:1366px ) {
          font-size: 1.32vw;
      }
      &:nth-of-type(1) {
        top: 16%;
        width: 40.3%;
      }
      &:nth-of-type(2) {
        top: 67%;
        width: 33.8%;
      }
    }
  }

  .login_info_information {
    padding: 0 40px;
    p {
      color: #e20000;
    }
    .information-content {
      white-space:pre-wrap;
      word-wrap:break-word;
    }
  }

  .login_info_browser {
    padding: 40px 40px;
    dt {
      font-size: 1.25rem;
      font-weight: bold;
    }
    dd > ul > li {
      font-weight: bold;
      &:not(:first-child) {
        padding-top: 10px;
      }
      > ul {
        border-top: #cccccc solid 1px;
        > li {
          padding: 0 0 0 1rem;
          font-weight: normal;
        }
      }
    }
  }

  .mac_alert {
    color: #e20000;
  }

  .login_info_p02 {
    padding: 0 40px;
  }
  /* ===== /LEFT ===== */

  /* ===== RIGHT ===== */
  .login_form {
    position: relative;
    padding: 100px 0 0;
    background: $lightGray;
    color: $white;
    h1 {
      margin-bottom: 10px;
      text-align: center;
      font-size: 2rem;
    }
    > label {
      display: block;
      margin:  0 0 25px calc( 50% - 150px );
      font-size: 1.25rem;
      input,
      select {
        display: block;
        font-size: 20px;
        width: 300px;
        box-sizing: border-box;
        line-height: 1;
        padding: 10px 10px;
        border: none;
        & + label {
          display: block;
          margin-top: 5px;
        }
        &[readonly],
        &:disabled {
          opacity: 1;
          background: $white;
          color: $textBlack;
          cursor: default;
        }
      }
    }
    .login_form_p01 {
      display: none;
      padding: 5px 0 0;
      font-size: 1rem;
    }
    button {
      display: block;
      width: 90%;
      margin: 30px auto 0;
      padding: 10px 0 10px 0;
      border: none;
      #background: #ffffff url("/img/icon_btn_arrow.png") no-repeat right 10px center;
      color: #005AAB;
      font-size: 1.25rem;
      text-align: center;
      &[disabled] {
        color: $lightGray;
        font-weight: normal;
        background: $white;
        border: $blue solid 1px;
        cursor: default;
        opacity: 0.5;
      }
    }
    .message.is-warning {
      position: absolute;
      left: 0px;
      top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;
      ul {
        padding: 10px 20px;
        background: $white;
        color: #ff0000;
      }
    }
  }
  /* ===== /RIGHT ===== */

  .modal-btn {
    margin-top: 15px;
    button {
      display: block;
      width: 180px;
      margin: 0px 20px 0 0;
      padding: 5px 0;
      border: $textBlack solid 1px;
      text-align: center;
      background: $white;
      color: $textBlack;
      text-decoration: none;
      font-size: 1rem;
    }
  }
}
