/** 変数定義 **/

/* dialog */
$dialog-title-color: lightgray;
$dialog-body-color: #F5F5F5;

/* button */
$disabled-color: #AAA;

/* color */
$textBlack: #070707;
$white: #ffffff;
$blue: #005aab;
$red: #e20000;
$green: #00ab2e;
$darkGray: #484848;
$lightGray: #707070;
